<form method="post" action="{{ path('my_products_delete', {'id': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input  class="form-control mb-3" type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn" class="btn btn-warning" >Delete</button>
</form>
