{% extends 'base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
    <h1>Edit Products</h1>

    {{ include('my_products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_products_index') }}">back to list</a>

    {{ include('my_products/_delete_form.html.twig') }}
{% endblock %}
